.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

strong, b {
  font-weight: bold;
}

i, em {
  font-style: oblique;
}

a {
	color: inherit;
	text-decoration: none;
	text-shadow: inherit;
	transition: all 0.35s ease;
}

[contenteditable]:focus {
  outline: 3px dotted {{ primary }} !important;
}

.contenteditable.hover {
  outline: 3px dotted rgba(0, 0, 0, 0.15);
}

body {
	background-color: {{ secondary | rgba: 0.2 }};
	font-family: helvetica neue, helvetica, sans-serif;
	font-size: 16px;
}

#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url(/themes/shared/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
  display: none;
}

#topbar {
	width: 100%;
	background: {{ secondary }};
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 5px 0px;
}

#topbar .cta {
	color: rgba(255, 255, 255, 0.6);
}

#header .nav {
	font-weight: bold;
	text-transform: uppercase;
}

#header .nav li {
	display: inline;
}

#header .nav a {
	font-weight: 400;
	display: inline-block;
	color: {{ secondary }};
	border-radius: 5px;
}

#header .nav a:hover {
	background: rgba(255, 255, 255, 0.5);
}

#header .nav .selected a, #header .nav .parent_of_selected a {
	font-weight: bold;
	color: {{ primary }};
	background: rgba(255, 255, 255, 0.5);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#main {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

#main .header {
	background: {{ primary }};
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

#main .header h2 {
	color: #fff;
	font-weight: 200;
}

#main .header li {
	display: inline;
}

#main .header a:hover {
	color: rgba(255, 255, 255, 0.85);
}

#main .header .selected a {
	color: #fff;
}

#main #yield_wrapper {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

#main #yield {
	background: #fff;
}

#sample_h3, #main #yield h3 {
	color: {{ secondary }};
	font-weight: 200;
}

#sample_h4, #main #yield h4 {
	color: {{ primary }};
	text-transform: uppercase;
	font-weight: bold;
}

#sample_blockquote, #main blockquote {
	font-family: Georgia, Times, Serif;
	font-weight: 300;
	color: #333;
	text-align: justify;
	background: #eee;
	padding: 15px;
	margin-bottom: 30px;
}

#sample_p, #main #yield p, #main #yield .ordered_list, #main #yield .unordered_list, #main #yield .img_wrapper {
	text-align: justify;
}

  #main #yield .img_wrapper {
      text-align: center;
      font-weight: 300;
	color: #333;
  }

  #main #yield img {
		max-width: 100%;
  }

#sample_ol, #sample_ul, #main .ordered_list, #main .unordered_list {
	margin-left: 30px;
}

#sample_ol, #main .ordered_list {
	list-style-type: decimal;
}

#sample_ul, #main .unordered_list {
	list-style-type: disc;
}

#main #yield a {
	color: {{ primary }};
	text-decoration: underline;
}

#main #yield .media_wrapper {
	width: 100%;
	background: #eee; 
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 26px;
}

#main #yield .media_wrapper .block_header {
	background: {{ secondary }};
	color: #fff;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
}

#main #yield .media_wrapper .block_content {
	border: 1px solid {{ secondary }};
	border-radius: 0 0 4px 4px;
	background: #ddd;
}

#main #yield .media_wrapper .block_content .video {
	width: 60%;
	height: 200px;
	float: left;
	border-radius: 0 0 0 4px;
	margin-right: -2px;
	background: url(/themes/shared/loading.gif) center no-repeat;
}

#main #yield .media_wrapper .block_content .playlist {
	width: 40%;
	height: 200px;
	float: right;
	overflow-y: auto;
	border-left: 1px solid {{ secondary }};
	border-right: 1px solid {{ secondary }};
	margin-right: -1px;
	background: #fff;
}

#main #yield .media_wrapper .block_content .playlist a {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	display: block;
	border-bottom: 1px solid #aaa;
	padding: 4%;
	text-decoration: none;
}

#main #yield .media_wrapper .block_content .playlist a:hover {
	background: #fff;
}

#main #yield .media_wrapper .block_content .playlist a .title {
	font-weight: bold;
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: {{ secondary }};
}

#main #yield .media_wrapper .block_content .playlist a .date {
	display: block;
	margin-top: .6em;
	font-size: .7em;
	line-height: .7em;
	color: #888;
}

#main #yield .media_wrapper .block_content .playlist .playing {
	background: {{ secondary | rgba: 0.8 }} !important;
	box-shadow: inset 1px 1px 5px {{ secondary }};
	text-shadow: 1px 1px 1px {{ secondary | rgba: 0.4 }};
}

#main #yield .media_wrapper .block_content .playlist .playing .title, #main #yield .media_wrapper .block_content .playlist .playing .date {
	color: #fff;
}

#main #sidebar {
	color: {{ secondary }};
}

#main #sidebar h4 {
	color: {{ primary }};
	padding-bottom: 3px;
	border-bottom: 1px solid {{ primary | rgba: 0.2 }};
}

#main #sidebar h5 {
	font-weight: bold;
	text-transform: uppercase;
	color: {{ secondary }};
}

#main #sidebar .block ol, #main #sidebar .block ul {
	color: {{ secondary | rgba: 0.7 }};
}

#main #sidebar blockquote {
	background: #dfdfdf;
	color: #555;
	font-size: 13px;
	padding: 15px;
}

#main #sidebar p a {
	color: {{ primary }};
}

#main #sidebar li {
	padding: 3px 0;
}

#footer {
	text-transform: uppercase;
	font-size: 13px;
	color: {{ secondary | rgba: 0.6 }};
}

#footer a {
	display: inline-block;
}

#footer .selected a {
	font-weight: bold;
	color: {{ secondary }};
}

#footer a:hover {
	color: {{ secondary }};
}

.subnav {
	display: none;
}

@media screen and (min-width: 861px){
	#topbar {
		margin-bottom: 45px;
	}
	
	#topbar .cta {
		margin-top: 9px;
		font-size: 13px;
		float: left;
    width: 50%;
	}

	#topbar input {
		float: right;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
		border: none;
		font-size: 14px;
		padding: 6px 10px;
    width: 20%;
		border-radius: 4px;
		color: {{ secondary }};
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	}
	
	#topbar ::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6); }
	#topbar ::-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
	#topbar :-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); }
	#topbar input:-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
	#topbar input:focus::-webkit-input-placeholder { color: {{ secondary }}; }
	#topbar input:focus::-moz-placeholder { color: {{ secondary }}; }
	#topbar input:focus:-ms-input-placeholder { color: {{ secondary }}; }
	#topbar input:focus:-moz-placeholder { color: {{ secondary }}; }
	
	#topbar input:focus {
		background: rgba(255, 255, 255, 0.9);
	}
	
	#header #logo {
		float: left;
		margin-top: 50px;
		margin-bottom: 40px;
		margin-left: 20px;
	}

	#header #logo img {
		height: 60px;
	}

	#header #mini_ban {
		text-align: right;
		margin-right: 70px;
		margin-bottom: 20px;
	}

	#header .nav_wrapper {
		float: right;
	}

	#header .nav {
		float: right;
		font-size: 14px;
	}

	#header .nav a {
		display: inline-block;
		padding: 9px 10px;
	}

	#header .nav a:hover {
		background: rgba(255, 255, 255, 0.5);
	}

	#header .nav .selected a {
		color: {{ primary }};
		background: rgba(255, 255, 255, 0.5);
		box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
	}

	#main {
		border-radius: 4px;
	}

	#main .header {
		padding: 30px;
		border-radius: 4px 4px 0 0;
	}

	#main .header h2 {
		float: left;
		font-size: 26px;
		line-height: 32px;
		margin-top: 5px;
	}

	#main .header .nav {
		float: right;
		font-size: 13px;
	}

	#main .header a {
		display: inline-block;
		padding: 10px;
	}

	#main #yield_wrapper {
		border-radius: 0 0 4px 4px;
	}

	#main #yield {
		float: left;
		padding: 4%;
		width: 63%;
		min-height: 500px;
		border-right: 1px solid {{ secondary | rgba: 0.2 }};
		border-bottom-left-radius: 4px;
	}

	#main #yield h3 {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	#main #yield h4 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	#main #yield p, #main #yield .ordered_list, #main #yield .unordered_list, #main #yield .img_wrapper, #main #yield .social_wrapper {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 26px;
	}

	#main #sidebar {
		float: right;
		width: 25.5%;
		padding: 1.5%;
	}
	
	#main #sidebar h4 {
		margin-top: 30px;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 17px;
	}
	
	#main #sidebar h5 {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 3px;
	}
	
	#main #sidebar ul, #main #sidebar ol, #main #sidebar p {
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 18px;
	}
	
	#main #sidebar .block ul, #main #sidebar .block ol {
		margin-bottom: 10px;
	}
	
	#main #sidebar li {
		padding: 3px 0;
	}
	
	#footer {
		margin-top: 20px;
		margin-bottom: 50px;
	}

	#footer a {
		padding: 10px;
	}
	
	#footer a:hover {
		color: {{ secondary }};
	}

	#footer .nav {
		float: left;
	}

	#footer .nav li {
		display: inline-block;
	}
	
	#footer .social {
		float: right !important;
	}
	
	#footer .social a {
		font-size: 16px;
	}

	.container {
		width: 95%;
		max-width: 1140px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 860px){
	#topbar p {
		text-align: center;
		font-size: 15px;
		line-height: 21px;
		padding: 6px;
	}
	
	#topbar input {
		display: none;
	}
	
	#header {
		padding: 20px;
	}
	
	#header #logo {
		display: block;
		margin: 50px 0 30px 0;
		text-align: center;
	}

	#header img {
		max-width: 100%;
	}
	
	#header #mini_ban {
		text-align: center;
		margin-bottom: 40px;
	}
	
	#header .nav_wrapper {
		margin: 10px;
	}

	#header .nav {
		font-size: 18px;
		text-align: center;
	}

	#header .nav li {
		display: inline;
	}

	#header .nav a {
		display: block;
		padding: 13px;
		margin: 3px 0;
	}
	
	#header .subnav a {
		font-size: 15px;
		color: #6F9599;
	}
	
	#main .header {
		padding: 20px;
	}

	#main .header h2 {
		float: left;
		font-size: 26px;
		line-height: 32px;
		margin-top: 5px;
	}

	#main .header .nav {
		display: none;
	}

	#main #yield {
		padding: 20px;
	}

	#main #yield h3 {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 10px;
	}

	#main #yield h4 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	#main #yield p, #main #yield .ordered_list, #main #yield .unordered_list, #main #yield .img_wrapper {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 26px;
	}
	
	#main #sidebar {
		border-top: 1px solid {{ secondary | rgba: 0.2 }};
		background: #fafafa; /* Old browsers */
		background: -moz-linear-gradient(top,  #fafafa 0%, #f3f3f3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fafafa 0%,#f3f3f3 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fafafa 0%,#f3f3f3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
		padding: 20px;
	}
	
	#main #sidebar h4 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 17px;
	}
	
	#main #sidebar h5 {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 7px;
	}
	
	#main #sidebar ol, #main #sidebar ul, #main #sidebar p {
		margin-bottom: 25px;
		font-size: 15px;
		line-height: 22px;
	}
	
	#main #sidebar .block ol, #main #sidebar .block ul {
		margin-bottom: 10px;
	}
	
	#main #sidebar li {
		padding: 3px 0;
	}
	
	#footer {
		text-align: center;
		padding: 20px;
		font-size: 16px;
	}
	
	#footer a {
		padding: 10px;
		display: block;
	}
	
	#footer .social {
		margin-top: 20px;
		font-size: 24px;
	}
	
	#footer .social li {
		display: inline-block;
	}
	
	li.parent_of_selected .subnav {
		display: block;
	}
	
	#footer .nav {
		display: block;
	}
	
	#footer .subnav {
		display: none;
	}
	
	.nav {
		display: none;
	}
}