<div id="loading"></div>

<div id="topbar">
	<div class="container">
    <h1><a href="{{ home_path }}" id="logo"><img src="{{ logo }}"></a></h1>
		{{ nav }}
		<div class="clear"></div>
	</div>
</div>

<div id="home_img">
  <div class="img_wrapper">
    <img src="/themes/shared/oldcouple.jpg" />
  </div>
  
  <div class="container">
    <div id="home_img_overlay">
      {{ wrapper_1 }}
    </div>
  </div>
</div>

<div id="main" class="container">
	
	<div class="header">
		<h2 class="contenteditable" data-title>{{ title }}</h2>
	</div>
	
	<div id="yield_wrapper">
		<div id="yield">
      {{ wrapper_3? }}
			{{ yield }}
		</div>
	</div>
	
</div>

<div id="footer">
  <div class="container">
	  {{ social }}
  	{{ nav }}
  	<div class="clear"></div>
  </div>
</div>