<h1>Themes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @themes %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme', new_theme_path %>
