#sitemap {
  list-style: disc;
  
  li {
    margin-left: 25px;
    margin-bottom: 7px;
    
    ol {
      list-style: disc;
    }
  }
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: oblique;
}

a {
  color: inherit;
  text-shadow: inherit;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.contenteditable.hover {
  outline: 3px dotted rgba(0, 0, 0, 0.15);
}

.q_highlight {
  background: yellow;
  outline: 3px solid yellow;
}

#powered_by {
	font-family: Helvetica Nueue, Helvetica, Arial, Sans Serif;
	background: #111;
	color: #777;
	font-size: 11px;
	text-align: center;
	
	a {
		padding: 10px;
		display: block;
		color: #777;
		
		&:hover {
			color: #aaa;
		}
	}
}