<% if @membership %>
	<% if @membership.emailable? %>
		<p>You have re-subscribed.<br><br></p>
		<%= link_to "Un-subscribe", request.path, class: "primary-button button" %>
	<% else %>
		<p>You have un-subscribed.<br><br></p>
		<%= link_to "Re-subscribe", request.path, class: "primary-button button" %>
	<% end %>
<% else %>
	<p>We don't recognize your email address.</p>
<% end %>