.dialog {
  display: none;
  position: fixed;
  z-index: 11;
  top: 10%;
  height: 70%;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}

#dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}