#documents {
  background: #eee;
  padding: 10px;
  font-size: 14px;
  line-height: 22px;
  position: fixed;
  top: 59px;
  bottom: 0;
  left: 0;
  width: 180px;
  overflow-y: auto;
  color: #222;
  
  a {
    text-decoration: none;
  }
  
  i {
    font-size: 13px;
    padding-right: 6px;
  }
  
  .extension {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    
    .documents {
      margin-bottom: 13px;
      margin-top: 3px;
      font-size: 13px;
      font-weight: normal;
      
      &.css_documents {
        i {
          color: #A59400;
        }
        
        .document.selected {
          background: #A59400;
        }
      }
      
      &.html_documents {
        i {
          color: #005491;
        }
        
        .document.selected {
          background: #005491;
        }
      }
      
      &.js_documents {
        i {
          color: #5D087D;
        }
        
        .document.selected {
          background: #5D087D;
        }
      }
      
      &.partial_documents {
        i {
          color: #007917;
        }
        
        .document.selected {
          background: #007917;
        }
      }
      
      .document {
        color: #777;
        text-transform: none;
        padding-left: 22px;
        margin: 0 -10px;
        
        a {
          display: block;
        }
        
        &.selected {
          color: #fff;
          
          i, .delete i {
            color: #fff;
          }
        }
        
        .delete {
          display: none;
          padding-right: 0px;
          padding-left: 5px;
          float: right;
          
          i {
            color: #990004;
          }
        }
      }
    }
  }
}

.document_form {
  position: fixed;
  left: 200px;
  top: 40px;
}

#document_body, .CodeMirror {
  position: fixed;
  top: 88px;
  left: 200px;
  right: 0;
  bottom: 0;
  margin: 0;
  outline: none;
  font-size: 14px;
  height: auto;
  
  .cm-tab {
    visibility: hidden;;
  }
}

#document_name {
  position: fixed;
  left: 200px;
  top: 59px;
  right: 200px;
  margin: 0;
  font-size: 18px;
  padding: 4px 6px;
}

#document_extension {
  position: fixed;
  top: 59px;
  right: 0;
  width: 200px;
  font-size: 18px;
  padding: 3px 6px;
  
}

.save_document {
  position: fixed;
  bottom: 5px;
  right: 5px;
}